Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @amd-aakash @jlgreathouse @samjwu @ROCm/rocm-documentation
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

Update pytorch.yml
  .azuredevops/nightly/pytorch.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

test
  .azuredevops/components/rocminfo.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

test
  .azuredevops/components/rocminfo.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

test
  .azuredevops/components/rocminfo.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

test
  .azuredevops/templates/steps/gpu-diagnostics.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Update pytorch.yml
  .azuredevops/nightly/pytorch.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Update pytorch.yml
  .azuredevops/nightly/pytorch.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Apply suggestions from code review
  docs/what-is-rocm.rst
Owners: @ROCm/rocm-documentation

gpu-diag at finish
  .azuredevops/components/rocminfo.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

rocrand test
  .azuredevops/components/rocRAND.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

skip rocrand check
  .azuredevops/components/rocRAND.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

rocminfo in gpu-diag
  .azuredevops/templates/steps/gpu-diagnostics.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

consolidate changes
  .azuredevops/components/rocm-cmake.yml
  .azuredevops/components/rocminfo.yml
  .azuredevops/components/rocprofiler-register.yml
  .azuredevops/templates/steps/create-manifest.yml
  .azuredevops/templates/steps/local-artifact-download.yml
  .azuredevops/variables-global.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

test
  .azuredevops/components/rocm-cmake.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: fix manifests when triggered by component repo
  .azuredevops/templates/steps/manifest.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: install jq in manifest template
  .azuredevops/templates/steps/manifest.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Leo's feedback incorporated
  docs/conceptual/More-about-how-ROCm-uses-PCIe-Atomics.rst
Owners: @ROCm/rocm-documentation

rename flang/llvm-legacy to flang/llvm-classic
  .azuredevops/components/aomp.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

rm checkoutref
  .azuredevops/components/aomp.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: fix AOMP omp.h symlink creation
  .azuredevops/components/aomp.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Add manifest to nightly job
  .azuredevops/nightly/rocm-nightly.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Sandra's feedback incorporated
  docs/conceptual/More-about-how-ROCm-uses-PCIe-Atomics.rst
Owners: @ROCm/rocm-documentation

Replaced execute with run
  docs/conceptual/More-about-how-ROCm-uses-PCIe-Atomics.rst
Owners: @ROCm/rocm-documentation

Replaced executing with running
  docs/conceptual/More-about-how-ROCm-uses-PCIe-Atomics.rst
Owners: @ROCm/rocm-documentation

Add always condition to manifest
  .azuredevops/templates/steps/manifest.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Sync develop branch
  .azuredevops/components/omniperf.yml
  .azuredevops/nightly/rocm-nightly.yml
  .azuredevops/tag-builds/omniperf.yml
  .wordlist.txt
  RELEASE.md
  docs/about/license.md
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
  docs/conceptual/gpu-isolation.md
  docs/conf.py
  docs/data/how-to/tuning-guides/rocprof-compute-analysis.png
  docs/data/how-to/tuning-guides/rocprof-systems-timeline.png
  docs/data/rocm-software-stack-6_2_0.jpg
  docs/data/rocm-software-stack-6_3_0-azure.jpg
  docs/data/rocm-software-stack-6_3_0.jpg
  docs/how-to/llm-fine-tuning-optimization/profiling-and-debugging.rst
  docs/how-to/system-optimization/mi300x.rst
  docs/how-to/tuning-guides/mi300x/workload.rst
  docs/index.md
  docs/reference/api-libraries.md
  docs/reference/gpu-arch-specs.rst
  docs/reference/rocm-tools.md
  docs/release/versions.md
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
  docs/what-is-rocm.rst
  tools/autotag/templates/highlights/6.3.0.md
  tools/autotag/templates/known_issues/6.3.0.md
  tools/autotag/templates/resolved_issues/6.3.0.md
  tools/autotag/templates/support/6.3.0.md
  tools/autotag/templates/upcoming_changes/6.3.0.md
  tools/rocm-build/rocm-6.2.1.xml
  tools/rocm-build/rocm-6.2.2.xml
  tools/rocm-build/rocm-6.2.4.xml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

add GitHub issue links in known issues
  RELEASE.md
  tools/autotag/templates/known_issues/6.3.0.md
Owners: @ROCm/rocm-documentation

Update stack diagram
  docs/data/rocm-software-stack-6_3_0.jpg
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

remove extra img
  docs/data/rocm-software-stack-6_3_0-azure.jpg
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

remove transferbench
  docs/reference/rocm-tools.md
  docs/what-is-rocm.rst
Owners: @ROCm/rocm-documentation

External CI: remove omniperf files again
  .azuredevops/components/omniperf.yml
  .azuredevops/nightly/rocm-nightly.yml
  .azuredevops/tag-builds/omniperf.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

update style in release notes
  .wordlist.txt
  RELEASE.md
  tools/autotag/templates/highlights/6.3.0.md
  tools/autotag/templates/known_issues/6.3.0.md
  tools/autotag/templates/upcoming_changes/6.3.0.md
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

test
  .azuredevops/components/hipRAND.yml
  .azuredevops/templates/steps/manifest.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

more detailed manifest filenames
  .azuredevops/templates/steps/manifest.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

checkoutref
  .azuredevops/components/rocRAND.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

add gputarget, artifactname
  .azuredevops/components/AMDMIGraphX.yml
  .azuredevops/components/HIP.yml
  .azuredevops/components/MIOpen.yml
  .azuredevops/components/MIVisionX.yml
  .azuredevops/components/ROCmValidationSuite.yml
  .azuredevops/components/composable_kernel.yml
  .azuredevops/components/hip-tests.yml
  .azuredevops/components/hipBLAS.yml
  .azuredevops/components/hipBLASLt.yml
  .azuredevops/components/hipCUB.yml
  .azuredevops/components/hipFFT.yml
  .azuredevops/components/hipRAND.yml
  .azuredevops/components/hipSOLVER.yml
  .azuredevops/components/hipSPARSE.yml
  .azuredevops/components/hipSPARSELt.yml
  .azuredevops/components/hipTensor.yml
  .azuredevops/components/hipfort.yml
  .azuredevops/components/omnitrace.yml
  .azuredevops/components/rccl.yml
  .azuredevops/components/rdc.yml
  .azuredevops/components/rocAL.yml
  .azuredevops/components/rocALUTION.yml
  .azuredevops/components/rocBLAS.yml
  .azuredevops/components/rocFFT.yml
  .azuredevops/components/rocPRIM.yml
  .azuredevops/components/rocPyDecode.yml
  .azuredevops/components/rocRAND.yml
  .azuredevops/components/rocSOLVER.yml
  .azuredevops/components/rocSPARSE.yml
  .azuredevops/components/rocThrust.yml
  .azuredevops/components/rocWMMA.yml
  .azuredevops/components/rocm-examples.yml
  .azuredevops/components/rocprofiler-compute.yml
  .azuredevops/components/rocprofiler-sdk.yml
  .azuredevops/components/rocprofiler-systems.yml
  .azuredevops/components/rocprofiler.yml
  .azuredevops/components/roctracer.yml
  .azuredevops/components/rpp.yml
  .azuredevops/templates/steps/manifest.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

rm checkoutref
  .azuredevops/components/rocRAND.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

rocm-examples, libtbb-dev
  .azuredevops/components/rocm-examples.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

rm checkoutref
  .azuredevops/components/hipRAND.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Update from ROCm 6.2.4 to 6.3.0
  README.md
  default.xml
  tools/autotag/components.xml
Owners: @ROCm/rocm-documentation, @amd-aakash, @jlgreathouse, @samjwu
