Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

90 min
  .azuredevops/components/rccl.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rocminfo register repos
  .azuredevops/components/rocminfo.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Ex CI: remove manual hipify-perl chmod from rccl (#4368)
  .azuredevops/components/rccl.yml
  .azuredevops/components/rocminfo.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Graph update
  .azuredevops/scripts/dependency_graph.png
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Docs: Add Device Major/Minor Versions to gpu-arch-spec.rst
  docs/reference/gpu-arch-specs.rst
Owners: @ROCm/rocm-documentation

Docs: Update JAX compatibility page
  .wordlist.txt
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

add vllm docker to release highlights (#306)
  RELEASE.md
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

ROCProfiler deprecation notice udpated (#307)
  RELEASE.md
Owners: @ROCm/rocm-documentation

wavesize Release Note update
  RELEASE.md
Owners: @ROCm/rocm-documentation

set ROCM_PATH
  .azuredevops/components/MIOpen.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Reference text updated for documentation update in 633 RN (#308)
  RELEASE.md
Owners: @ROCm/rocm-documentation

Ex CI: set ROCM_PATH for MIOpen tests (#4371)
  .azuredevops/components/MIOpen.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

minor edit
  RELEASE.md
Owners: @ROCm/rocm-documentation

wavesize Release Note update (#4372)
  RELEASE.md
Owners: @ROCm/rocm-documentation

Revert "wavesize Release Note update (#4372)"
  RELEASE.md
Owners: @ROCm/rocm-documentation

Revert "wavesize Release Note update (#4372)" (#4373)
  RELEASE.md
Owners: @ROCm/rocm-documentation

update miopen-get-ck-build
  .azuredevops/templates/steps/miopen-get-ck-build.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

readd missing artifacts logic
  .azuredevops/templates/steps/miopen-get-ck-build.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

check ARTIFACT_URL equals "null"
  .azuredevops/templates/steps/miopen-get-ck-build.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

small tweaks
  .azuredevops/templates/steps/miopen-get-ck-build.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Ex CI: adjust MIOpen's CK fetch script to no longer find parent commits (#4377)
  .azuredevops/templates/steps/miopen-get-ck-build.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update release notes (#310)
  RELEASE.md
Owners: @ROCm/rocm-documentation

Ex CI: add rocm-cmake to rpp build job
  .azuredevops/components/rpp.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

.github/CODEOWNERS:

* @saadrahim @Rmalavally @amd-aakash @zhang2amd @jlgreathouse @samjwu @MathiasMagnus @LisaDelaney
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
