Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @saadrahim @Rmalavally @amd-aakash @zhang2amd @jlgreathouse @samjwu @MathiasMagnus @LisaDelaney
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

External CI: add rocprofiler-sdk to RDC
  .azuredevops/components/rdc.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

update to md metadata to myst frontmatter
  docs/conceptual/gpu-arch/mi100.md
  docs/conceptual/gpu-arch/mi250.md
  docs/conceptual/gpu-arch/mi300.md
Owners: @ROCm/rocm-documentation

remove extra file
  docs/contribute/doc-structure.md
Owners: @ROCm/rocm-documentation

rccl & rpp fixes
  .azuredevops/components/rccl.yml
  .azuredevops/components/rpp.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

MIOpen CK download: fix AZ API parameters
  .azuredevops/templates/steps/miopen-get-ck-build.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

remove `windows` from pytorch compat header
  docs/conf.py
Owners: @ROCm/rocm-documentation

Increase CK test timeout to 90 min
  .azuredevops/components/composable_kernel.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

fix spelling
  .wordlist.txt
  docs/index.md
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

add parameter in conf.py to disable backlink
  docs/conf.py
Owners: @ROCm/rocm-documentation

External CI: finalize TransferBench enablement
  .azuredevops/nightly/rocm-nightly.yml
  .azuredevops/templates/steps/dependencies-rocm.yml
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Remove copyright from .azuredevops/README.md
  .azuredevops/README.md
Owners: @ROCm/rocm-documentation

Change from medium to base pool
  .azuredevops/components/TransferBench.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rm checkoutref
  .azuredevops/components/TransferBench.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

fix target branches in licenses list: set to repo defaults
  docs/about/license.md
Owners: @ROCm/rocm-documentation

update .wordlist.txt
  .wordlist.txt
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

Fix docker table
  docs/compatibility/jax-compatiblity.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/ml-compatibility.rst
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/how-to/deep-learning-rocm.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/compatibility-matrix.rst
  docs/compatibility/ml-compatibility.rst
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
Owners: @ROCm/rocm-documentation

update .wordlist.txt
  .wordlist.txt
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

add minor formatting
  docs/compatibility/jax-compatiblity.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/jax-compatiblity.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

Rename file
  docs/compatibility/compatibility-matrix.rst
  docs/compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

Fix typos
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
  docs/conf.py
  docs/how-to/deep-learning-rocm.rst
Owners: @ROCm/rocm-documentation

update jax note
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
Owners: @ROCm/rocm-documentation

jax_triton supported
  docs/compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

PR feedbacks
  docs/compatibility/jax-compatiblity.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/jax-compatiblity.rst
Owners: @ROCm/rocm-documentation

Update docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

Add back hipGraph support
  docs/compatibility/ml-compatibility/jax-compatibility.rst
Owners: @ROCm/rocm-documentation

Add JAX compatibility
  docs/compatibility/jax-compatiblity.rst
Owners: @ROCm/rocm-documentation

fix inconsistent formatting
  docs/compatibility/jax-compatiblity.rst
Owners: @ROCm/rocm-documentation

add blurb about docker icon
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
Owners: @ROCm/rocm-documentation

update pytorch-compatibility path in conf.py
  docs/conf.py
Owners: @ROCm/rocm-documentation

words
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
Owners: @ROCm/rocm-documentation

update LICENSE, conf.py, and fix license.md
  LICENSE
  docs/about/license.md
  docs/conf.py
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation
