Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @saadrahim @Rmalavally @amd-aakash @zhang2amd @jlgreathouse @samjwu @MathiasMagnus @LisaDelaney
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

update missed 2024
  docs/about/license.md
Owners: @ROCm/rocm-documentation

fix supported jax versions in compat matrix
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

External CI: add missing rocAL functionalities
  .azuredevops/components/rocAL.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: add libdrm-dev to RVS, rocWMMA
  .azuredevops/components/ROCmValidationSuite.yml
  .azuredevops/components/rocWMMA.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

WIP
  docs/compatibility/tensorflow-compatiblity.rst
Owners: @ROCm/rocm-documentation

minor fmt
  docs/compatibility/tensorflow-compatiblity.rst
Owners: @ROCm/rocm-documentation

fix tables not rendering
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

minor formatting
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/compatibility-matrix.rst
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
  docs/conf.py
  docs/how-to/deep-learning-rocm.rst
Owners: @ROCm/rocm-documentation

fix table headings
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

fix missed inconsistent formatting
  docs/compatibility/tensorflow-compatiblity.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/tensorflow-compatiblity.rst
Owners: @ROCm/rocm-documentation

PR feedbacks
  docs/compatibility/tensorflow-compatiblity.rst
Owners: @ROCm/rocm-documentation

add period
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

fix typo and update wordlist
  .wordlist.txt
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Add Tensorflow
  docs/compatibility/tensorflow-compatiblity.rst
Owners: @ROCm/rocm-documentation

WIP
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

update tf dockers
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

fix link
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

fix link
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

wording
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
Owners: @ROCm/rocm-documentation

update historical compat
  docs/compatibility/compatibility-matrix-historical-6.0.csv
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

fix tensile link
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Add TensorFlow compatibility docs (#4247)
  .wordlist.txt
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
  docs/compatibility/ml-compatibility/jax-compatibility.rst
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
  docs/compatibility/ml-compatibility/tensorflow-compatibility.rst
  docs/conf.py
  docs/how-to/deep-learning-rocm.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

ci(hipblaslt): remove co version at build
  .azuredevops/components/hipBLASLt.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Change AMDMIGraphX to use local-artifact-download for half 5.6
  .azuredevops/components/AMDMIGraphX.yml
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Refactor dependencies-rocm & artifact-download, consolidate component variable lists
  .azuredevops/templates/steps/artifact-download.yml
  .azuredevops/templates/steps/dependencies-rocm.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

specify packaging>=22.0
  .azuredevops/components/hipBLASLt.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rm checkoutref
  .azuredevops/components/hipBLASLt.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Template to convert workspace to a docker container
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Add mainline option to nightly
  .azuredevops/components/rocminfo.yml
  .azuredevops/nightly/rocm-nightly.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

simplify dependencies-rocm, add gpuTarget back to rocMLIR
  .azuredevops/components/rocMLIR.yml
  .azuredevops/templates/steps/dependencies-rocm.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rm tag-builds from aqlprofile
  .azuredevops/templates/steps/dependencies-aqlprofile.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Make review changes
  .azuredevops/components/AMDMIGraphX.yml
  .azuredevops/components/rocMLIR.yml
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update docker-container.yml
  .azuredevops/components/rocDecode.yml
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update docker-container.yml
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update docker-container.yml
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update rocDecode.yml
  .azuredevops/components/rocDecode.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Account for build versus test environment
  .azuredevops/components/rocDecode.yml
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update docker-container.yml
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney
