Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

fix links to smi tools full changelog on GH
  RELEASE.md
Owners: @ROCm/rocm-documentation

fix stack image
  docs/data/rocm-software-stack-6_3_0.jpg
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

build
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

tag-build
  .azuredevops/components/rocJPEG.yml
  .azuredevops/tag-builds/rocJPEG.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

6.2.4
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

tests
  .azuredevops/components/rocJPEG.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

opt
  .azuredevops/components/rocJPEG.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

External CI: change rocm-core staging branch to master
  .azuredevops/templates/steps/artifact-download.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

remove programming guide from TOC
  docs/sphinx/_toc.yml.in
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

branch names
  .azuredevops/templates/steps/artifact-download.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

6.3 keyring
  .azuredevops/components/rocJPEG.yml
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

remove programming guide from TOC (#4116)
  docs/sphinx/_toc.yml.in
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

External CI: finalize rocJPEG enablement
  .azuredevops/nightly/rocm-nightly.yml
  .azuredevops/templates/steps/dependencies-rocm.yml
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

Add @hongxiayang updates to MI300X workload tuning guide
  .wordlist.txt
  docs/data/how-to/tuning-guides/hipblaslt_auto_tuning_output_files.png
  docs/data/how-to/tuning-guides/hipblaslt_yaml_template.png
  docs/how-to/llm-fine-tuning-optimization/llm-inference-frameworks.rst
  docs/how-to/tuning-guides/mi300x/workload.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

Remove GPU memory page
  docs/conceptual/gpu-memory.md
  docs/index.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus

External CI: Add aomp dependency for rocprofiler-sdk
  .azuredevops/components/rocprofiler-sdk.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

External CI: temp changes for parameters.checkoutRef
  .azuredevops/components/rocprofiler-sdk.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

External CI: checkoutRef temp change
  .azuredevops/components/rocprofiler-sdk.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

External CI: revert checkoutRef changes
  .azuredevops/components/rocprofiler-sdk.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

Update default.xml
  default.xml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

fix rccl hip streams section in workload tuning guide
  docs/how-to/tuning-guides/mi300x/workload.rst
Owners: @ROCm/rocm-documentation

Update index.md (#4144)
  docs/index.md
Owners: @ROCm/rocm-documentation

Change reference to kernel-mode GPU compute driver in ROCm
  docs/compatibility/compatibility-matrix.rst
Owners: @ROCm/rocm-documentation

External CI: MIOpen Test Parameters
  .azuredevops/components/MIOpen.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

Fix rocm-build manifest for 6.2.2 and 6.2.4
  tools/rocm-build/rocm-6.2.2.xml
  tools/rocm-build/rocm-6.2.4.xml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

Added MIGraphX changes
  RELEASE.md
Owners: @ROCm/rocm-documentation

removed gfx support
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

Update RELEASE.md
  RELEASE.md
Owners: @ROCm/rocm-documentation

More changes for kernel-mode terminology
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

Fix linting
  .wordlist.txt
Owners: @saadrahim, @Rmalavally, @amd-aakash, @jlgreathouse, @samjwu, @MathiasMagnus, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @saadrahim @Rmalavally @amd-aakash @jlgreathouse @samjwu @MathiasMagnus @ROCm/rocm-documentation
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
