Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @saadrahim @Rmalavally @amd-aakash @zhang2amd @jlgreathouse @samjwu @MathiasMagnus @LisaDelaney
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

Test runtime variable scope
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Change ROCm register sequence to use latest
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Revert "Temporarily force docker to be created for debug"
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Remove aotriton from pytorch build
  .azuredevops/nightly/pytorch.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Install pip on LOW_BUILD_POOL pipelines
  .azuredevops/components/HIP.yml
  .azuredevops/components/MIVisionX.yml
  .azuredevops/components/ROCR-Runtime.yml
  .azuredevops/components/ROCdbgapi.yml
  .azuredevops/components/ROCmValidationSuite.yml
  .azuredevops/components/amdsmi.yml
  .azuredevops/components/hipRAND.yml
  .azuredevops/components/hipSOLVER.yml
  .azuredevops/components/hipSPARSE.yml
  .azuredevops/components/rocALUTION.yml
  .azuredevops/components/rocDecode.yml
  .azuredevops/components/rocJPEG.yml
  .azuredevops/components/rocRAND.yml
  .azuredevops/components/rocm-cmake.yml
  .azuredevops/components/rocm-core.yml
  .azuredevops/components/rocm_smi_lib.yml
  .azuredevops/components/rocminfo.yml
  .azuredevops/components/rocprofiler-register.yml
  .azuredevops/components/rocr_debug_agent.yml
  .azuredevops/components/roctracer.yml
  .azuredevops/components/rpp.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Install cmake on LOW_BUILD_POOL pipelines
  .azuredevops/components/HIP.yml
  .azuredevops/components/amdsmi.yml
  .azuredevops/components/rocm-cmake.yml
  .azuredevops/components/rocm-core.yml
  .azuredevops/components/rocm_smi_lib.yml
  .azuredevops/components/rocminfo.yml
  .azuredevops/components/rocprofiler-register.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Missing cmake dependency from last PR
  .azuredevops/components/ROCR-Runtime.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Missing pkg-config dependency
  .azuredevops/components/amdsmi.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Upgrade build pool for rpp, due to build time
  .azuredevops/components/rpp.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Revert "Upgrade build pool for rpp, due to build time"
  .azuredevops/components/rpp.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Modify PATH to find pip's cmake
  .azuredevops/components/rocprofiler-sdk.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Download DRM dependencies for rocminfo
  .azuredevops/components/rocminfo.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

pkg-config to ROCR-Runtime
  .azuredevops/components/ROCR-Runtime.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Docker URL Update
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

2nd POC for How to Use ROCm for AI (#282)
  .wordlist.txt
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
  docs/conf.py
  docs/how-to/deep-learning-rocm.rst
  docs/how-to/llm-fine-tuning-optimization/index.rst
  docs/how-to/rocm-for-ai/fine-tuning/fine-tuning-and-inference.rst
  docs/how-to/rocm-for-ai/fine-tuning/index.rst
  docs/how-to/rocm-for-ai/fine-tuning/multi-gpu-fine-tuning-and-inference.rst
  docs/how-to/rocm-for-ai/fine-tuning/overview.rst
  docs/how-to/rocm-for-ai/fine-tuning/single-gpu-fine-tuning-and-inference.rst
  docs/how-to/rocm-for-ai/index.rst
  docs/how-to/rocm-for-ai/inference-optimization/index.rst
  docs/how-to/rocm-for-ai/inference-optimization/model-acceleration-libraries.rst
  docs/how-to/rocm-for-ai/inference-optimization/model-quantization.rst
  docs/how-to/rocm-for-ai/inference-optimization/optimizing-triton-kernel.rst
  docs/how-to/rocm-for-ai/inference-optimization/optimizing-with-composable-kernel.md
  docs/how-to/rocm-for-ai/inference-optimization/profiling-and-debugging.rst
  docs/how-to/rocm-for-ai/inference-optimization/workload.rst
  docs/how-to/rocm-for-ai/inference/deploy-your-model.rst
  docs/how-to/rocm-for-ai/inference/hugging-face-models.rst
  docs/how-to/rocm-for-ai/inference/index.rst
  docs/how-to/rocm-for-ai/inference/install.rst
  docs/how-to/rocm-for-ai/inference/llm-inference-frameworks.rst
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
  docs/how-to/rocm-for-ai/training/index.rst
  docs/how-to/rocm-for-ai/training/scale-model-training.rst
  docs/how-to/rocm-for-ai/training/train-a-model.rst
  docs/how-to/rocm-for-hpc/index.rst
  docs/how-to/system-optimization/index.rst
  docs/how-to/system-optimization/mi100.md
  docs/how-to/system-optimization/mi200.md
  docs/how-to/system-optimization/mi300a.rst
  docs/how-to/system-optimization/mi300x.rst
  docs/how-to/system-optimization/w6000-v620.md
  docs/how-to/tuning-guides/mi300x/index.rst
  docs/how-to/tuning-guides/mi300x/system.rst
  docs/index.md
  docs/sphinx/_toc.yml.in
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

rccl, rocJPEG
  .azuredevops/components/rccl.yml
  .azuredevops/components/rocJPEG.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rocjpeg force docker
  .azuredevops/components/rocJPEG.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

fix gpu target
  .azuredevops/components/rocDecode.yml
  .azuredevops/components/rocJPEG.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rccl, force docker
  .azuredevops/components/rccl.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rm force docker
  .azuredevops/components/rccl.yml
  .azuredevops/components/rocJPEG.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

2nd POC for How to Use ROCm for AI (#282)
  .wordlist.txt
  docs/compatibility/ml-compatibility/pytorch-compatibility.rst
  docs/conf.py
  docs/how-to/deep-learning-rocm.rst
  docs/how-to/llm-fine-tuning-optimization/index.rst
  docs/how-to/rocm-for-ai/fine-tuning/fine-tuning-and-inference.rst
  docs/how-to/rocm-for-ai/fine-tuning/index.rst
  docs/how-to/rocm-for-ai/fine-tuning/multi-gpu-fine-tuning-and-inference.rst
  docs/how-to/rocm-for-ai/fine-tuning/overview.rst
  docs/how-to/rocm-for-ai/fine-tuning/single-gpu-fine-tuning-and-inference.rst
  docs/how-to/rocm-for-ai/index.rst
  docs/how-to/rocm-for-ai/inference-optimization/index.rst
  docs/how-to/rocm-for-ai/inference-optimization/model-acceleration-libraries.rst
  docs/how-to/rocm-for-ai/inference-optimization/model-quantization.rst
  docs/how-to/rocm-for-ai/inference-optimization/optimizing-triton-kernel.rst
  docs/how-to/rocm-for-ai/inference-optimization/optimizing-with-composable-kernel.md
  docs/how-to/rocm-for-ai/inference-optimization/profiling-and-debugging.rst
  docs/how-to/rocm-for-ai/inference-optimization/workload.rst
  docs/how-to/rocm-for-ai/inference/deploy-your-model.rst
  docs/how-to/rocm-for-ai/inference/hugging-face-models.rst
  docs/how-to/rocm-for-ai/inference/index.rst
  docs/how-to/rocm-for-ai/inference/install.rst
  docs/how-to/rocm-for-ai/inference/llm-inference-frameworks.rst
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
  docs/how-to/rocm-for-ai/training/index.rst
  docs/how-to/rocm-for-ai/training/scale-model-training.rst
  docs/how-to/rocm-for-ai/training/train-a-model.rst
  docs/how-to/rocm-for-hpc/index.rst
  docs/how-to/system-optimization/index.rst
  docs/how-to/system-optimization/mi100.md
  docs/how-to/system-optimization/mi200.md
  docs/how-to/system-optimization/mi300a.rst
  docs/how-to/system-optimization/mi300x.rst
  docs/how-to/system-optimization/w6000-v620.md
  docs/how-to/tuning-guides/mi300x/index.rst
  docs/index.md
  docs/sphinx/_toc.yml.in
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

External CI: Docker Environment Creation Apt Fix
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

add dummy file
  dummy-file.txt
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Change version from 6.3.0 to 6.3.1
  default.xml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update README.md
  README.md
Owners: @ROCm/rocm-documentation

Update components.xml
  tools/autotag/components.xml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Duplication from GA merge resolved
  RELEASE.md
Owners: @ROCm/rocm-documentation

Date updated
  docs/conf.py
Owners: @ROCm/rocm-documentation

Add ToC and index links to the AI Developer Tutorials
  docs/how-to/rocm-for-ai/fine-tuning/index.rst
  docs/how-to/rocm-for-ai/index.rst
  docs/how-to/rocm-for-ai/inference/index.rst
  docs/how-to/rocm-for-ai/training/index.rst
  docs/index.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Change link positioning
  docs/index.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Change wording
  docs/how-to/rocm-for-ai/fine-tuning/index.rst
  docs/how-to/rocm-for-ai/index.rst
  docs/how-to/rocm-for-ai/inference/index.rst
  docs/how-to/rocm-for-ai/training/index.rst
Owners: @ROCm/rocm-documentation

Updated ROCm install on Linux installation method link
  docs/how-to/rocm-for-ai/inference-optimization/model-acceleration-libraries.rst
  docs/how-to/rocm-for-ai/inference/install.rst
  docs/how-to/system-optimization/w6000-v620.md
Owners: @ROCm/rocm-documentation

Fix merge conflict markers in vllm-benchmark.rst
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

Updated ROCm install on Linux installation method link (#4313)
  docs/how-to/rocm-for-ai/inference-optimization/model-acceleration-libraries.rst
  docs/how-to/rocm-for-ai/inference/install.rst
  docs/how-to/system-optimization/w6000-v620.md
Owners: @ROCm/rocm-documentation

Update what-is-rocm.rst
  docs/what-is-rocm.rst
Owners: @ROCm/rocm-documentation

Add ROCm software stack from 6.3.2
  docs/data/rocm-software-stack-6_3_2.jpg
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Ex CI: rocprof-sdk & rocprof-systems VCN tracing dependencies
  .azuredevops/components/rocprofiler-sdk.yml
  .azuredevops/components/rocprofiler-systems.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Azure Linux support for 6.3.1 added
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Minor update
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Footnote updated
  docs/compatibility/compatibility-matrix.rst
Owners: @ROCm/rocm-documentation
