Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @amd-aakash @jlgreathouse @samjwu @ROCm/rocm-documentation
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

External CI: add flag to disable SPIRV from comgr build in llvm-project
  .azuredevops/components/llvm-project.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: HIP shared library symlinks
  .azuredevops/components/rocPyDecode.yml
  .azuredevops/templates/steps/dependencies-rocm.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

LD_LIBRARY_PATH change not needed.
  .azuredevops/components/rocPyDecode.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: remove temp checkoutRefs
  .azuredevops/components/llvm-project.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Change reference to kernel-mode GPU compute driver in ROCm (#4147)
  .wordlist.txt
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: Disable building examples
  .azuredevops/components/rocprofiler-systems.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: Typo in rocPyDecode Pipeline Parameter
  .azuredevops/components/rocPyDecode.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: remove temp checkoutRef
  .azuredevops/components/rocprofiler-systems.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Add new flag for testing
  .azuredevops/components/rocprofiler-systems.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: Change disable example flag
  .azuredevops/components/rocprofiler-systems.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: Change disable example flag and remove temp checkoutRef
  .azuredevops/components/rocprofiler-systems.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

SME review feedback incorporated
  docs/conceptual/More-about-how-ROCm-uses-PCIe-Atomics.rst
Owners: @ROCm/rocm-documentation

Minor feedback updated
  docs/conceptual/More-about-how-ROCm-uses-PCIe-Atomics.rst
Owners: @ROCm/rocm-documentation

Sandra's feedback incorporated
  docs/conceptual/More-about-how-ROCm-uses-PCIe-Atomics.rst
Owners: @ROCm/rocm-documentation

Filename renamed
  docs/conceptual/pcie-atomics.rst
Owners: @ROCm/rocm-documentation

File rename changes updated
  docs/index.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @amd-aakash, @jlgreathouse, @samjwu

Document title updated
  docs/index.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @amd-aakash, @jlgreathouse, @samjwu

Add graph safe support
  .wordlist.txt
  docs/index.md
  docs/reference/graph-safe-support.rst
  docs/sphinx/_toc.yml.in
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Remove `hipExtHostAlloc` add at HIP section
  RELEASE.md
Owners: @ROCm/rocm-documentation

External CI: Add toggle for torchvision build and test
  .azuredevops/nightly/pytorch.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

fix links
  RELEASE.md
  docs/reference/graph-safe-support.rst
  tools/autotag/templates/resolved_issues/6.3.1.md
Owners: @ROCm/rocm-documentation

missing space
  RELEASE.md
  tools/autotag/templates/resolved_issues/6.3.1.md
Owners: @ROCm/rocm-documentation

fix link in known issue
  RELEASE.md
Owners: @ROCm/rocm-documentation

Remove programming guide from TOC
  docs/sphinx/_toc.yml.in
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

fix merge conflicts
  tools/rocm-build/build_rocthrust.sh
  tools/rocm-build/build_rpp.sh
  tools/rocm-build/rocm-6.2.1.xml
  tools/rocm-build/rocm-6.2.2.xml
  tools/rocm-build/rocm-6.3.0.xml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: revert sync changes
  .azuredevops/components/omniperf.yml
  .azuredevops/nightly/rocm-nightly.yml
  .azuredevops/tag-builds/omniperf.yml
  .azuredevops/templates/steps/artifact-download.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

update toc and deep-learning-rocm.rst
  docs/how-to/deep-learning-rocm.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @amd-aakash, @jlgreathouse, @samjwu

fix pytorch-compatibility filename
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
  docs/compatibility/pytorch-compatibility.rst
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

remove incomplete rows in pytorch-compatibility
  docs/compatibility/pytorch-compatibility.rst
Owners: @ROCm/rocm-documentation

fix broken refs
  docs/how-to/deep-learning-rocm.rst
  docs/how-to/performance-validation/mi300x/vllm-benchmark.rst
  docs/how-to/tuning-guides/mi300x/workload.rst
Owners: @ROCm/rocm-documentation

add a redirect for gpu-cluster-networking migration
  docs/conf.py
Owners: @ROCm/rocm-documentation

remove 'Using MPI' and 'gpu-cluster-networking' sections due to migration to dcgpu
  docs/data/how-to/gpu-enabled-mpi-1.png
  docs/how-to/gpu-enabled-mpi.rst
  docs/sphinx/_toc.yml.in
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

remove gpu-cluster-networking from index page
  docs/index.md
Owners: @ROCm/rocm-documentation

remove MPI page from index
  docs/index.md
Owners: @ROCm/rocm-documentation

update meta to yaml frontmatter
  docs/how-to/system-debugging.md
  docs/index.md
Owners: @ROCm/rocm-documentation

add missing metadata
  docs/conceptual/gpu-arch/mi300.md
  docs/contribute/doc-structure.md
  docs/how-to/tuning-guides/mi300x/index.rst
  docs/how-to/tuning-guides/mi300x/system.rst
  docs/how-to/tuning-guides/mi300x/workload.rst
Owners: @ROCm/rocm-documentation

Create component pipeline files
  .azuredevops/components/TransferBench.yml
  .azuredevops/tag-builds/TransferBench.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

Add branch names, GPU filters
  .azuredevops/components/TransferBench.yml
  .azuredevops/templates/steps/artifact-download.yml
  .azuredevops/templates/steps/dependencies-rocm.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: increase MIOpen test timeout to 180 min
  .azuredevops/components/MIOpen.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation

External CI: add libdrm-dev package to rocm_smi_lib
  .azuredevops/components/rocm_smi_lib.yml
Owners: @amd-aakash, @jlgreathouse, @samjwu, @ROCm/rocm-documentation
