Repository ROCm/ROCm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Clean up variables-global, use var for repo.radeon versions
  .azuredevops/components/rocDecode.yml
  .azuredevops/components/rocJPEG.yml
  .azuredevops/components/rocm-core.yml
  .azuredevops/components/rocminfo.yml
  .azuredevops/components/rocprofiler-sdk.yml
  .azuredevops/components/rocprofiler-systems.yml
  .azuredevops/dependencies/half560.yml
  .azuredevops/templates/steps/dependencies-aqlprofile.yml
  .azuredevops/templates/steps/dependencies-other.yml
  .azuredevops/templates/steps/docker-container.yml
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

runtime repo.radeon version
  .azuredevops/templates/steps/dependencies-aqlprofile.yml
  .azuredevops/templates/steps/dependencies-other.yml
  .azuredevops/templates/steps/docker-container.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

keep LARGE_DISK_BUILD_POOL
  .azuredevops/variables-global.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Updated ROCm install on Linux installation method link (#4313)
  docs/how-to/rocm-for-ai/inference-optimization/model-acceleration-libraries.rst
  docs/how-to/rocm-for-ai/inference/install.rst
  docs/how-to/system-optimization/w6000-v620.md
Owners: @ROCm/rocm-documentation

BLAS, set ROCM_PATH
  .azuredevops/components/hipBLASLt.yml
  .azuredevops/components/rocBLAS.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Radeon support note updated in 6.3.2
  RELEASE.md
Owners: @ROCm/rocm-documentation

Radeon support note updated in 6.3.2 (#4339)
  RELEASE.md
Owners: @ROCm/rocm-documentation

set ROCM_PATH in dockers
  .azuredevops/components/hipBLASLt.yml
  .azuredevops/components/rocBLAS.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

remove extraneous vars
  .azuredevops/components/hipBLASLt.yml
  .azuredevops/components/rocBLAS.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

rocBLAS, compile with amdclang
  .azuredevops/components/rocBLAS.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Update issue_retrieval.yml
  .github/workflows/issue_retrieval.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

fix ROCm Bandwidth Test license type
  docs/about/license.md
Owners: @ROCm/rocm-documentation

update vllm-benchmark
  .wordlist.txt
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Update docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

Update docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

Update docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

fix typo
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

update link
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

fix link text
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

change changelog to previous versions
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

fix typo
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

remove "for"
  docs/how-to/rocm-for-ai/inference/vllm-benchmark.rst
Owners: @ROCm/rocm-documentation

External CI: rocWMMA ROCM_PLATFORM_VERSION value set
  .azuredevops/components/rocWMMA.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Debian 12 support for single-node added (#300)
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Debian 12 support for single-node added (#300)
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Debian single-node support added
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Wordlist updated
  .wordlist.txt
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Debian 12 support for single-node added (#300)
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney, @ROCm/rocm-documentation

Updated historical footnote
  docs/compatibility/compatibility-matrix.rst
Owners: @ROCm/rocm-documentation

External CI: Add new dependency for rocprofiler-systems
  .azuredevops/components/rocprofiler-systems.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Set OPENCL_INC_DIR for ROCR-Runtime
  .azuredevops/components/ROCR-Runtime.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Fix ROCR common test suite build
  .azuredevops/components/ROCR-Runtime.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

experiment refactoring from rocm-docs-core
  docs/conf.py
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
  docs/sphinx/static/js/search.js
Owners: @ROCm/rocm-documentation, @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

External CI: Fix ROCR common test suite build (#4364)
  .azuredevops/components/ROCR-Runtime.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

bump rocm-docs-core to 1.16.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

revert rocm-docs-core back to 1.15.0 due to github action deprecation from rocm-docs-core
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

Ex CI: remove manual hipify-perl chmod from rccl
  .azuredevops/components/rccl.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

prefix path
  .azuredevops/components/rccl.yml
Owners: @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

initial
  docs/how-to/rocm-for-ai/inference/pytorch-benchmark.rst
Owners: @ROCm/rocm-documentation

Release notes updates for ROCm 6.3.3 release (#298)
  RELEASE.md
  docs/compatibility/compatibility-matrix-historical-6.0.csv
  docs/compatibility/compatibility-matrix.rst
  docs/conf.py
Owners: @ROCm/rocm-documentation, @saadrahim, @Rmalavally, @amd-aakash, @zhang2amd, @jlgreathouse, @samjwu, @MathiasMagnus, @LisaDelaney

.github/CODEOWNERS:

* @saadrahim @Rmalavally @amd-aakash @zhang2amd @jlgreathouse @samjwu @MathiasMagnus @LisaDelaney
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
